*   {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

    }

body {
      min-width: 500px;
      background-color: #e0eeee;
     }


.profileBody 
     {
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-bottom:6px;
    margin-left: 1em;
    margin-right:2em;
    width: 75%;
    height: 590px;
      }
p
 {
  fount-size:15px;
  margin left:3em;
  margin-right:2em;
  margin-top:20px;
  margin-bottom:20px;
 }
ul
 {
 fount-size:15px;
 margin-right:2em;
 margin-top:20px;
 margin-bottom:20px;
margin-left:3em;
 }
hr
 {
 margin left:3em;
 margin-right:2em;
 }
#info h1
 {
 fount-style:'Times New Roman';
 fount-size:35px;
  margin-left:3em;
 margin-right:2em;
 margin-top:10px;
 margin-bottom:10px;
 text-transfer:uppercase;
}
 #info h2
  {
  fount-style:'italic';
  fount-size:20px;
  margin left:3em;
  margin-right:2em;
  margin-top:10px;
  margin-bottom:10px;
  text-transfer:uppercase;
 }
 h3
 {
 margin-left:3em;
 margin-top:10px;
 }

     